body{
    background-color: rgb(72, 9, 9);
    padding: 5rem;
}

.profilepic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}

.profilepic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

form{
    background-color: rgb(93, 35, 35);
    padding: 2rem;
    width: 40%;
    color: white;
    margin-inline: auto;
    margin-top: 20px;
    font-size: 20px;
}

input,select, textarea{
    padding: 20px;
    border: none;
    border-radius: 10px;

}

.form-group{
    padding: 10px;
    display: grid;
}

.sub{
    background-color: rgb(72, 9, 9);
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 1s;
}

.sub:hover{
    background-color: rgb(97, 6, 6);
}

